html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  margin: 0;
  padding: 2.25em;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-radius: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
}

.svgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 1em;
  border-radius: 50%;
  pointer-events: none;
}

.svgContainer div {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 50%;
  padding-bottom: 100%;
}

.mySVG {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svgContainer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border: solid 2.5px #217093;
  border-radius: 50%;
}

.inputGroup {
  margin: 0 0 2em;
  padding: 0;
  position: relative;
}

.inputGroup:last-of-type {
  margin-bottom: 0;
}

label {
  margin: 0 0 12px;
  font-size: 1.25em;
  color: #217093;
  font-weight: 700;
  font-family: inherit;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="password"] {
  display: block;
  margin: 0;
  padding: 0.875em 1em 0;
  background-color: #f3fafd;
  border: solid 2px #217093;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #353538;
  font-weight: 600;
  font-family: inherit;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #4eb8dd;
}

button {
  display: block;
  margin: 0;
  padding: 0.65em 1em 1em;
  background-color: #4eb8dd;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 0.2s ease-out;
}

button:hover,
button:active {
  background-color: #217093;
}

.inputGroup1 .helper,
.inputGroup2 input[type="password"] {
  position: absolute;
  font-family: inherit;
}

.inputGroup1 .helper1 {
  top: 0;
  left: 0;
  transform: translate(1em, 2);
}

.footer {
  text-align: center;
  position: static;
  bottom: 50;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  padding: 1em 0;
  border-top: solid 1px #ddd;
}

.borda {
  border: solid 4px #217093;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.hidden {
  display: none;
}

.navbar {
  background-color: #333;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999px ;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.topics {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.topics li {
  margin-right: 20px;
}

.topics a {
  color: #fff;
  text-decoration: none;
}

.topics a:hover {
  color: #217093;
}

.navbar .account {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .avatar {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: -90%;
}

.navbar .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border: 1px solid #ccc;
  z-index: 1000;
}

.navbar .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .dropdown ul li {
  border-bottom: 1px solid #ccc;
}

.navbar .dropdown ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.account:hover .dropdown {
  display: block;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  margin-bottom: 0px;
}

.dropdown a {
  color: #333;
  text-decoration: none;
}

.dropdown a:hover {
  color: #666;
}

#logo {
  border-radius: 9px;
  width: 150%;
  height: 50px;
}

.text-logo {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 60%;
  display: flex;
}

.container {
  display: inline-block;
}

.text {
  font-size: 5em;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 2s steps(40),
    cursor .4s step-end infinite alternate;
  color: white;
  text-align: center;
  font-size: 24px;
}

@keyframes cursor {
  50% { border-color: transparent; }
}

@keyframes typing {
  from { width: 0; }
}

.parte2 {
  text-align: center;
  bottom: 0;
  margin-top: auto;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.swiper {
  width: 950px;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #217093;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
}

section .card .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card:hover .image {
  transform: translateY(-15px);
}

.card h2 {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-size: 16px;
  color: #777;
  text-align: center;
  line-height: 1.5;
}

.card .btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: #217093;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.card .btn:hover {
  background: #4eb8dd;
}

label {
  font-size: 1.2rem;
  color: #217093;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.75em;
  border: 2px solid #217093;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.5em;
  text-align: center;
}

textarea {
  resize: vertical;
  text-align: center;
}

#contactForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2.25em;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-radius: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 1%;
  position: absolute;
  z-index: 10000;
  margin-bottom: 30px;
}

#footer-contato {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1em 0;
  border-top: solid 1px #ddd;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .form, #contactForm {
    width: 90%;
    max-width: 90%;
    margin-top: 10%;
    padding: 1em;
  }

  .navbar .account {
    margin-left: 0;
  }

  .navbar .avatar {
    margin-left: 0;
  }

  .text {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .form, #contactForm {
    width: 100%;
    max-width: 100%;
    margin-top: 20%;
    padding: 1em;
  }
  section.reviews {
    flex-direction: column;
    align-items: center; /* Center align items in smaller screens */
  }


  .navbar .logo img {
    width: 30px;
    height: 30px;
  }

  .navbar .topics li {
    margin-right: 10px;
  }

  .navbar .topics a {
    font-size: 0.875em;
  }

  .text {
    font-size: 1em;
  }

  .card h2 {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }

  .card .btn {
    padding: 8px 16px;
    font-size: 0.875em;
  }
}
/* Media Queries */
@media (max-width: 768px) {
  section.reviews {
    flex-direction: column;
    align-items: center; /* Center align items in smaller screens */
  }

  .card {
    margin: 10px 0;
    width: 80%; /* Ajuste o tamanho conforme necessário */
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%; /* Ajuste o tamanho conforme necessário */
    margin: 10px auto; /* Centralize os cards */
  }
}

@media (max-width: 440px) {
  .card {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    margin: 10px 0; /* Reduza as margens */
  }
}
.text-title{
  text-decoration: none;
  color: #f3fafd;
}

