:root{
    /*Cor título sistema*/
    --corletra: #0093FF;
    --cor: #f37d2f;

    /*Tamanho fonte*/
    --fonttit: 30px;
}

#tit{
    color: var(--corletra);
    font-size: var(--fonttit);
}
#ti{
    color: var(--cor);
}